@font-face {
  font-family: 'Century Bold';
  src: url('../fonts/centurygothic_bold.ttf');
}

@font-face {
  font-family: 'Century';
  src: url('../fonts/centurygothic.ttf');
}


@font-face {
  font-family: 'Daville';
  src: url('../fonts/Daville.ttf');
}

a, h2, h3, p{
  text-decoration: none;
  font-family: 'Century Bold';
}



/* --- LOGO CARDLEARN --- */

.Logo{
  display: flex;
  flex-direction: row;
  margin:0px 20px;
}

h1:first-child{
  color: #0F00BD;
}

h1:last-child{
  color: black;
  transform-origin: left;
  animation: showlogo 1.5s ease-in-out;
}

h1{
  font-family: 'Daville';
  font-size: 50px;
}

@keyframes showlogo {
  0%{
    opacity: 0;
    transform: scaleX(0);
  }
  100%{
    opacity: 1;
    transform: scaleX(1);
  }
}

header{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 75px;
  background: #DBEEF4;
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 50px 50px rgba(0, 0, 0, 0.25);
  animation: showheader 1s ease;
}




/* --- HEADER ---*/

header *{
  z-index: 1000;
}

@keyframes showheader{
from {top:-100%;}
to {top: 0;}
}

form{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.search-n-create{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #7EC0DC;
  border-radius: 20px;
  padding: 6px;
}

h2{

}

.text-field{
  width: 80%;
  padding: 15px;
  font-size: 20px;
  border-radius: 50px;
  background: #DCE4ED;
  border: none;
  resize: none;
  box-shadow: inset 0px 7px 11px rgb(0 0 0 / 25%);
}

.descript{
  width: 95%;
  height: 200px;
  border-radius: 30px;
}

.search-button{
  padding: 12px;
  background: #3045FF;
  border-radius: 20px;
  transition: 0.5s;
}

.search-button img{
  height: 25px;
  width: 25px;
}

.right-section{
  display: flex;
  align-items: center;
}

.newcard-button{
  white-space: nowrap;
  color: white;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  padding: 12px;
  background: #3045FF;
  border-radius: 20px;
  border: none;
  transition: 0.5s;
}


.newcard-button:hover{
  background: #3F80FF;
  box-shadow: 0px 5px 6px -1px rgba(0, 0, 0, 0.25);
}

.newcard-button:active{
  background: #1327DE;
  box-shadow: inset 0px 4px 6px 3px rgba(0, 0, 0, 0.25);
}

.profile-border{
  margin-top: 50px;
  height: 100%;
  background: #DBEEF4;
  padding: 20px;
  border-radius: 40px;
}

.show-more-button{
  margin: 0px 20px;
  padding: 5px;
  height: 48px;
  width: auto;
}

.under-show-button{
  margin-left: 25px;
}

.under-show-button:hover{
  background: #C5DFED;
  border-radius: 10px;
}

.burger-menu{
  position: absolute;
  top: 75px;
  right: 0;
  width: 450px;
  display: none;
  list-style-type: none;
  background: #C5DFED;
  z-index: 1;
  border-radius: 0 0 20px 20px;
  transition: 1s;
}

li {
	border-bottom: 1px solid #B1C6D2;
  list-style-type: none;
}

li:first-child{
  margin-top: 60px;
}

li:last-child {
	border-bottom: none;
}

li a{
  font-size: 40px;
  color: blue;
  transition: 0.5s;
}

li a:hover {
  margin-left: 30px;
  color: #C9006C;
}

.show {
  display: block;
  animation: shower 1s both;
  transform-origin: 0 0;
}

.show1{
  display: block;
  animation: unshower 1s both;
  transform-origin: 0 0;
}

.btn-rotated{
  animation: btn-rotate 1s both;
}

.btn-rotated1{
  animation: btn-rotate1 1s both;
}

@keyframes btn-rotate {
  100%{
    transform: rotate(180deg);
  }
}

@keyframes btn-rotate1 {
  0%{
    transform: rotate(180deg);
  }
  100%{
    transform: none;
  }
}

@keyframes shower{
  0%{
    transform: scaleY(0);
  }
  100%{
    transform: scaleY(1);
  }
}

@keyframes unshower{
  0%{
    transform: scaleY(1);
  }
  100%{
    transform: scaleY(0);
  }
}

.profile{
  padding: 10px;
  background: #B4D4F2;
  display: flex;
  align-items: center;
  border-radius: 25px;
  box-shadow: inset 0px 4px 6px 3px rgba(0, 0, 0, 0.25);
}

.profile p{
  font-family: 'Century Bold';
  margin: 0px 25px;
  font-size: 30px;
}

.profile a{
  color: white;
  font-size: 30px;
  padding: 12px;
  background: #3045FF;
  border-radius: 20px;
  transition: 0.5s;
}

.profile a:hover{
  background: #3F80FF;
  box-shadow: 0px 5px 6px -1px rgba(0, 0, 0, 0.25);
}

.profile a:active{
  background: #1327DE;
  box-shadow: inset 0px 4px 6px 3px rgba(0, 0, 0, 0.25);
}



/*--- BODY ---*/

body{
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #010532;
}

::-webkit-scrollbar {
    width: 10px;
    height: 15px;
    background: rgba(58, 78, 152, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3461FF;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}

.container{
  margin-top: 80px;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.clmn{
  flex-direction: column;
}

.userpic{
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin-right: 10px;
}

/*
-------------------------------------------------------

*/



/*--- POST ---*/

.post{
  height: 550px;
  width: 430px;
  border-radius: 25px;
  background-color: gray;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-content: space-between;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(196, 196, 196, 0.5);
  transition: 1s;
  animation: 0.8s ease-in-out both fade-in;
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

/*-- POST ANIMATION ---*/
.post:hover{
  height: 600px;
  width: 480px;
  background: rgba(213, 232, 255, 0.6);
}

.post:hover h2{
  font-size: 30px;
  text-shadow: 0px 2px 20px #00154D;
  padding: 15px;
}

.post:hover .rating, .post:hover .to-favorites{
  height: 40px;
  padding: 10px;
}

.post:hover .stars img{
  height: 35px;
  margin-right: 3px;
}

.post:hover .post-actions a{
  font-size: 30px;
}

.post:hover .post-actions h3{
  font-size: 30px;
  position: absolute;
  right: 0;
  margin-top: -5px;
  background: #A4C9F3;
  padding: 6px;
  border-radius: 30px;
}

.post:hover .post-actions p{
  font-size: 25px;
  color: #983232;
  background: #FF9898;
  padding: 6px;
  border-radius: 30px;
}

/* ------ */

.post h2{
  height: auto;
  max-height: 85px;
  width: 350px;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.5s;
}

.post img{
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.post-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90%;
}

.post-info p{
  color: white;
  width: 100%;
  overflow-y: scroll;
  padding: 3px;
  background: rgba(53, 72, 121, 0.4);
  border-radius: 10px;
}

.post-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.to-favorites img{
  height: 100%;
  width: auto;
}

.rating, .to-favorites{
  position: relative;
  height: 20px;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.rating{
  background: #8683A7;
}

.to-favorites{
  background: #FE4949;
}

.to-favorites{
  padding: 10px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  background: #FF9898;
  border-radius: 50px;
}

.stars{
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
  transition: 0.5s;
}

.stars img{
  height: 100%;
  width: auto;
  margin-right: -10px;
  transition: 0.3s;
}

.post-actions p, .post-actions h3{
  font-size: 20px;
  transition: 0.5s;
}




/*--- PROFILE DATAS ---*/


.in-profile:hover{
  width: 370px;
  height: 400px;
}

.profile-info{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: auto;
  padding: 20px;
  background: rgba(85, 153, 255, 0.63);
  border-radius: 20px;
}

.courses{
  width: 100%;
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
  padding: 10px;
  background: rgba(77, 89, 202, 0.7);
  border-radius: 20px;
}

.profile-info img{
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.profile-info-list{
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.profile-info-list p{
  color: white;
  font-size: 25px;
  padding: 10px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(72, 114, 197, 0.77);
  border-radius: 15px;
}

.profile-info-list span{
  padding: 6px 30px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(55, 86, 166, 0.4);
  border-radius: 15px;
}

.image-upload{
  width: 90%;
  border: 4px solid #180258;
  border-style: dashed;
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* --- SLIDES --- */

.slides-block{
  width: 800px;
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.slides-input{
  width: 100%;
  background: rgba(152, 191, 226, 0.6);
  border-radius: 30px;
  padding: 20px;
  margin: 10px;
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slides-input img{
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.slides-input p{
  font-family: 'Century';
  font-size: 30px;
}


/* --- CONTROLS --- */

.social-controls{
  padding: 10px;
}

.default-actions{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.to-favorites-post{
  background: #FF6767;
  border-radius: 30px;
  margin-right: 15px;
  padding: 0px 20px;
  box-shadow: 0px 7px 2px rgba(221, 0, 0, 0.5);
  transition: 0.5s;
  display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
}

.to-favorites-post:hover{
  background: #E42D2D;
  padding: 10px 30px;
  box-shadow: 0px 10px 5px rgba(221, 0, 0, 0.47);
}

.to-favorites-post:hover img{
  height: 70px;
  box-shadow: inset 0px 4px 13px rgba(0, 0, 0, 0.3);
}


.to-favorites-post img{
  height: 55px;
  width: auto;
  padding: 10px;
  margin-right: 20px;
  background: #DC0C0C;
  border-radius: 20px;
  box-shadow: inset 0px 4px 13px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

.to-favorites-post h2{
  font-size: 40px;
  color: #DC0C0C;
}

.rate-post{
  padding: 15px;
  border-radius: 60px;
  background: rgba(35, 189, 255, 0.8);
  box-shadow: 0px 10px 0px rgba(154, 231, 255, 0.21);
}

.rate-post-body{
  background: rgba(22, 86, 114, 0.8);
  box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  padding: 10px;
}

.rate-post-body img{
  height: 50px;
  width: auto;
  background: #95C9DA;
  padding: 15px;
  border-radius: 50px;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.77);
  transition: 0.7s ease;
}

.rate-post-body img:hover{
  height: 70px;
  background: #0084AE;
}

.score-post{
  box-sizing: border-box;
  padding: 15px;
  margin-left: 20px;
  border-radius: 30px;
  box-shadow: 0px 10px 0px rgba(73, 74, 74, 0.21);
  display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
}

.score-post-body{
  font-family: 'Century Bold';
  padding: 20px;
  border-radius: 20px;
  font-size: 50px;
}

.add-comment-post{
  margin-top: 20px;
  padding: 20px;
  border-radius: 50px;
  background: #80C3E9;
  box-shadow: 0px 10px 0px rgba(154, 231, 255, 0.21);
  display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
}

.add-comment-post form{
  display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: flex-end;
}

.add-comment-input{
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.send-comm-button{
  margin-left: 15px;
  height: 345px;
  width: 150px;
  margin-right: 0;
  background: #5B0EFF;
  background-image: url('/static/images/send-message.png');
  background-position: center;
  background-size: 90px;
  background-repeat: no-repeat;
  padding: 10px;
  border-radius: 13px 33px 33px 13px ;
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.mini-profile-comment{
  margin-bottom: 15px;
  font-size: 40px;
  height: 100px;
  padding: 0px 10px;
  border-radius: 40px;
  background: rgba(72, 114, 197, 0.7);
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.mini-profile-comment img{
  margin-right: 20px;
  padding: 5px;
  background: #80C3E9;
}

.mini-profile-comment p{
  margin-right: 15px;
}

.mini-prof-and-comm{
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.let-comm{
  font-size: 30px;
  width: 900px;
  height: 200px;
}



/* --- COMMENTS --- */

.comments-section{
  width: 600px;
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.comment{
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 15px;
  padding: 10px;
  background: rgba(77, 89, 202, 0.7);
  border-radius: 30px;
  display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
}

.comment img{
  margin-left: 5px;
  margin-right: 10px;
  padding: 5px;
  background: #6EA2F0;
  height: 128px;
  width: 128px;
  border-radius: 30px;
}

.comment-info{
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.comment-info h3{
  margin-top: -15px;
  padding: 10px;
  background: rgba(20, 28, 96, 0.65);
  border-radius: 20px;
  margin-bottom: 0;
  font-size: 35px;
  color: white;
}

.comment-info p{
  font-family: 'Century';

  margin-top: 0;
  font-size: 25px;
  color: white;
}

.comment-actions{
  position: absolute;
  top: 5px;
  right: 5px;
}

.comment-actions a:first-child{
  margin-right: -15px;
}

.comment-actions a img{
  height: 25px;
  width: 25px;
}

/* --- ----- --- */
