{% extends "wrapper.html" %}
{% block content %}
<div>
    <table>
        <tr>
            <th>Логин</th>
            <th>Эмайл</th>
            <th>Тип юзера</th>
            <th>Сменить на basic</th>
            <th>Сменить на creative</th>
            <th>Сменить на admin</th>
        </tr>
        {% for i in range(data |length) %}
        {% if current_user.id != data[i].id and (current_user.type_of_user == "SAdmin" or data[i].type_of_user not
        in ["SAdmin" , "admin"])%}
        <tr>
            <td>{{data[i].login}}</td>
            <td>{{data[i].email}}</td>
            <td>{{data[i].type_of_user}}</td>
            <td style="padding: 30px;"><a style="color: white;" href="/newtype?user_id={{data[i].id}}&type=basic">Click
                Here</a>
            </td>
            <td style="padding: 30px; color: white;"><a style="color: white;"
                                                        href="/newtype?user_id={{data[i].id}}&type=creative">Click
                Here</a></td>
            {% if current_user.type_of_user == 'SAdmin' %}
            <td style="padding: 30px; color: white;"><a style="color: white;"
                                                        href="/newtype?user_id={{data[i].id}}&type=admin">Click Here</a>
            </td>
            {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <div class="comments-section">
        {% for i in range(comments|length) %}
        <div class="comment">
            <a href="/profile/{{comments[i].user_id}}">
                <img src="/static/img/tmp/{{ comments[i].user.id_foto}}.jpg">
            </a>
            <div class="comment-info">
                <a href="/profile/{{comments[i].user_id}}">
                    <h3>{{comments[i].user.login}}</h3>
                </a>
                <p>{{comments[i].text}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}