<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Вход - CardLearn</title>
    <link rel="stylesheet" href="\static\css\styles.css">

</head>
<body>
<div class="container">
    <div class="log-block">
        <div class="login glass">
            <div class="logo">
                <h1><span>Card</span>Learn</h1>
            </div>
            <h2>Редактировать</h2>
            <form action="" method="post"
                  enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
                <div class="form-input">
                    <label for="login">Nickname</label>
                    {{ form.Login(class="input-field" , type="text", placeholder="Никнейм") }}
                    {% for error in form.Login.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
                <div class="form-input">
                    {{ form.Surname.label }}
                    {{ form.Surname(class="input-field", placeholder="Фамилия") }}
                    {% for error in form.Surname.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
                <div class="form-input">
                    {{ form.Name.label }}
                    {{ form.Name(class="input-field", placeholder="Имя") }}
                    {% for error in form.Name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
                <div class="image-upload">
                  <img id="blah" src="#" alt="Ваше изображение">
                  <p> {{form.photo(id="imgInp")}}
                      {% for error in form.photo.errors %}
                  <p class="alert alert-danger" role="alert">
                      {{ error }}
                  </p>
                  </p>
                  {% endfor %}
                </div>
                {{message}}
                {{ form.submit(type="submit", class="button", value="Редактировать") }}
            </form>
        </div>
    </div>
    <footer>© 2022, CardLearn Team. Все права защищены.</footer>
</div>
<script>
    const [file] = imgInp.files
    if (file) {
        blah.src = URL.createObjectURL(file)
    }
    imgInp.onchange = evt => {

        const [file] = imgInp.files
        if (file) {
            blah.src = URL.createObjectURL(file)
        }
    }
</script>
</body>
</html>