<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="static/css/light_theme.css">
  </head>
  <body>
    <header>
        <a href="/" class="Logo">
          <h1>Card</h1>
          <h1>Learn</h1>
        </a>
        {% if current_user.is_authenticated %}
        <div class="right-section">
          <a href="/make_new_studies" class="newcard-button">+ Добавить карточку</a>
          <a onclick="show_func()" class="under-show-button"><img id="shw-btn" class="show-more-button" src="/static/images/show-more.png" alt=""></a>
          <div id="brgr-mnu" class="burger-menu">
            <ul>
              <li><a href="/myprofile">Личный кабинет</a></li>
              <li><a href="/logout">Выход</a></li>
            </ul>
          </div>
          <script>
          function show_func() {
            var btn = document.getElementById("shw-btn");
            var lst =   document.getElementById("brgr-mnu");
            if((!lst.classList.contains("show1") && !lst.classList.contains("show")) || lst.classList.contains("show1")){
              lst.classList.remove("show1");
              lst.classList.toggle("show");
              btn.classList.remove("btn-rotated1");
              btn.classList.toggle("btn-rotated");
            }
            else{
              lst.classList.remove("show");
              lst.classList.toggle("show1");
              btn.classList.remove("btn-rotated");
              btn.classList.toggle("btn-rotated1");
            }
          }
          </script>
          <div class="profile-border">
              <div class="profile">
                  <p>{{ current_user.login }}</p>
                  <img class="userpic" src="/static/img/tmp/{{ current_user.id_foto }}.jpg" alt="">
              </div>
          </div>
        </div>
        {% else %}
        <div class="profile-border">
          <div class="profile">
            <a style="margin-right: 10px" href="/register">Регистрация</a>
             <a href="/login">Вход</a>
          </div>
        {% endif %}
    </header>
    <div class="container clmn">
      <div class="slides-input">
        <h2>Сколько слайдов создаём? :)</h2>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="text" name="n" class="text-field"><br>
      </div>
      {%  if n != 0 %}
      <div class="slides-input">
        <p>Название</p>
        <textarea name="main_text" class="text-field"></textarea>
        <div class="image-upload" style="margin: 15px;">
          <img id="blahmain_photo" src="#" alt="Ваше изображение" style="width: 100%; height=auto;">
          <input type="file" class="newcard-button" name="main_photo" id="imgInp_main">
        </div>
        <p>Описание</p>
        <p><textarea name="description" class="text-field"></textarea></p>
      </div>
    {% for i in range(n) %}
    <div class="slides-input">
      <p>Слайд №{{i+1}}</p>
      <textarea name="text{{i}}" class="text-field"></textarea>
      <div class="image-upload" style="margin: 15px;">
        <img id="blah{{i}}" src="#" alt="Ваше изображение" style="width: 100%; height=auto;">
        <input type="file" class="newcard-button" name="photo{{i}}" id="imgInp{{i}}">
      </div>
    </div>
    {% endfor %}
    {% endif %}
            <input type="submit" class="newcard-button">
        </form>
    </div>
  </body>
<script>
    [file] = imgInp_main.files
    if (file) {
        blahmain_photo.src = URL.createObjectURL(file)
    }
    imgInp_main.onchange = evt => {

        [file] = imgInp_main.files
        if (file) {
            blahmain_photo.src = URL.createObjectURL(file)
        }
    }
    {% for i in range(n) %}
    [file] = imgInp{{i}}.files
    if (file) {
        blah{{i}}.src = URL.createObjectURL(file)
    }
    imgInp{{i}}.onchange = evt => {

        [file] = imgInp{{i}}.files
        if (file) {
            blah{{i}}.src = URL.createObjectURL(file)
        }
    }
    {% endfor %}
</script>
</html>
